name: Build and release plugin to CurseForge and Modrinth

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  CURSEFORGE_PROJECT_ID: ${{ vars.CURSEFORGE_PROJECT_ID }}
  MODRINTH_PROJECT_ID:  ${{ vars.MODRINTH_PROJECT_ID }}

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Publish to Modrinth & CurseForge
        uses: Kira-NT/mc-publish@v3
        with:
          modrinth-id: ${{ env.MODRINTH_PROJECT_ID }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          curseforge-id: ${{ env.CURSEFORGE_PROJECT_ID }}
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          files: target/*.jar
          changelog-file: CHANGELOG.md
          game-versions: |
            1.21
          loaders: |
            bukkit
            spigot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
